a{
    color: rgb(255, 0, 0);
}

h1{  ;
    text-align: center; , ::-webkit-textfield-decoration-container

}

li{ list-style-image: -moz-radial-gradient(40%);
 color: red;
}
hr{
    background-color: bisque; ,
    text-align: center;
    
}
hr{
    background-color: rgb(74, 68, 80);
}
li{
    text-decoration: none;
    background-color: black;
    color: bisque;
}

FORM {
    text-align: left;
    background-color: darkgoldenrod;
}
button {
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    background-color:black;
    margin: 20px;
    padding: 7px;
    text-align: center;
    image-rendering: 20px;
    
}
nav {
    background-color: bisque;
    margin: 20px;
    padding: 7px;
}

